@tailwind base;

/* Write your own custom base styles here */
@layer base {
  :root {
    --color-black: 44, 45, 72;
    --color-primary: 39 100 37;
    --color-secondary: 111 114 185;
    --color-warning: 255 115 179;
    --color-bg-hsl: 34, 100, 92;
    --color-font-rgb: 26, 14, 0;
    /* ... */
  }
  body {
    color: rgb(var(--color-font-rgb));
  }
  /* h1 {
    @apply font-serif;
  } */

  p {
    @apply font-light;
  }
  /* i {
    @apply text-primary;
  } */
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

@import url("https://use.typekit.net/xwn1evh.css");

/* Your own custom utilities */

.popshadow {
  text-rendering: optimizeLegibility;
  background-color: #d5d5d5;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 0px #d5d5d5, 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.insetshadow {
  text-rendering: optimizeLegibility;
  color: var(--color-font-rgb);
  /* background-color: #2d2d2d; */
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.shadow-out {
  box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.07),
    50px 50px 50px 0px rgba(0, 0, 0, 0.25);
}

.shadow-in {
  box-shadow: -6px -6px 8px rgba(0, 0, 0, 0.1), 5px 5px 8px rgba(0, 0, 0, 0.07);
}

.bg-custom {
  background-color: #ffedd6;
}
.text-shadow-custom {
  text-shadow: 1px 1px 1px #fffbf5;
}
.bg-light {
  background-color: rgba(255 255 255 / 0.18);
}
.bg-lighter {
  background-color: rgba(255 255 255 / 0.33);
}

.mpen {
  position: relative;
  display: inline-block;
}
.mpen:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -.18em;
  width: 100%;
  height: .66em;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(229,104,58,0.5);
  z-index: -1;
  transition: all .9s ease;
}
a.mpen:hover:after {
  background: rgba(229,104,58,0.8);
}

.border-bl-custom {
  display: inline-block;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-left: 6px solid rgb(var(--color-primary));
  border-bottom: 4px solid rgb(var(--color-primary));
}

.screen-reader-text {
  @apply sr-only;
}

.btn-secondary {
  @apply inline-block bg-secondary text-amber-100 text-sm no-underline py-2 px-6 mt-4 border-2 border-primary rounded-lg;
  box-shadow: -1px 1px 10px rgba(var(--color-font-rgb), .5);
  transition: all .4s ease;
}
.btn-secondary:hover {
  @apply text-white border-white;
  text-shadow: 1px 0px 10px rgba(var(--color-font-rgb), .4);
  box-shadow: 0px 0px 2px rgba(var(--color-font-rgb), .5);
}

.has-text-align-left {
  @apply text-left;
}

.has-text-align-center {
  @apply text-center;
}

.has-text-align-right {
  @apply text-right;
}

.has-large-font-size {
  @apply text-4xl;
}

.alignfull {
  @apply w-screen relative;

  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
}

.wp-block-image img {
  @apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
  @apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  @apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
  @apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
  @apply table-caption;

  caption-side: bottom;
}

.wp-block-image .alignleft {
  @apply float-left mr-4;
}
.wp-block-image .alignright {
  @apply float-right ml-4;
}
.wp-block-image .aligncenter {
  @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
  @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
  @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
  @apply mr-4;
}

.wp-block-cover {
  @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

  min-height: 430px;
}

.wp-block-verse {
  @apply font-sans;
}

.wp-block-media-text {
  @apply grid grid-cols-2 gap-4;
}
